<div class="grid mt-4 mr-6 ml-6 mb-8">
  <div class="col-12 lg:col-3">
    <div class="ml-2">
      <h1>Triplet from ASes</h1>
      <p> <!-- TODO: vedere come e se migliorare la descrizione della pagina -->
        Visualizzazione dei collegamenti tra ASes precedenti e successivi a quello selezionato.<br>
        Cliccare su un nodo per conoscerne i dettagli.<br>
        Cliccare su due nodi collegati per avere dettagli della tripla specifica
      </p>
    </div>
    <form [formGroup]="netForm" novalidate>
      <p-fieldset class="pl-2" legend="Filter" [toggleable]="true" [collapsed]="isCollapsed"
                  (onAfterToggle)="isCollapsed = false">
        <div class="mt-1 ml-3 grid">
          <div class="flex-column mt-3 col-12">
            <p-floatlabel>
              <input pInputText required id="source" [maxlength]="6" class="w-6 custom-text"
                     formControlName="asNumber" pKeyFilter="pint" (blur)="searchAvailableCPs()"/>
              <label>AS Number</label>
            </p-floatlabel>
          </div>
          @if (availableCPs != null && availableCPs.length > 0) {
            <div class="flex-column mt-3 col-12">
              <p-floatlabel>
                <p-select class="w-6" formControlName="peerAS" [options]="availableCPs" (onClick)="showPeers()"
                          [optionLabel]="'label'" [showClear]="true" [filter]="true"></p-select>
                <label>Available CPs</label>
              </p-floatlabel>
            </div>
          }
          @if (ipForPeerSelected != null && ipForPeerSelected.length > 0) {
            <div class="col-12 mt-3 flex-column">
              <p-floatlabel>
                <p-select class="w-6" formControlName="peerIP" [options]="ipForPeerSelected"
                          (onChange)="searchVisibility()"
                          [optionLabel]="'label'" [showClear]="true" [filter]="true"></p-select>
                <label>Available Peers</label>
              </p-floatlabel>
            </div>
            <div class="col-12 mt-3 flex-column">
              <p-floatlabel>
                <p-multi-select class="w-6" formControlName="queryFamily" [options]="queryFamily"
                                [optionLabel]="'name'"></p-multi-select>
                <label>IP Family</label>
              </p-floatlabel>
            </div>
            <div class="flex align-items-center mt-3 col-4 ">
              <label class="mr-5 mb-0" for="hiveSelected" style="line-height: 1.5;">Visualizzazione Hive</label>
              <p-check-box [value]="hiveSelected" [binary]="true" (onChange)="hiveSelected = !hiveSelected"/>
            </div>
          }
        </div>
        <div class="col-4 mt-3 ml-3">
          <p-toast/>
          <p-button label="Search" icon="pi pi-search" [disabled]="!ableSearch" class="custom-btn-bg w-5"
                    (click)="searchTriplets()"></p-button>
        </div>
      </p-fieldset>
    </form>
  </div>
  <div class="grid col-12 lg:mt-5 lg:col-9 align-content-start justify-content-center">
    <div class="col-12 pi flex justify-content-end">
      <div class="mr-4" #myDataLegend>
      </div>
    </div>
    <div class="col-12 pi flex justify-content-center">
      <div #myDataVis>
      </div>
    </div>
    @if (drawService.getOriginSelected() != null) {
      <div class="col-12 lg:mt-1 lg:col-4 justify-content-center flex">
        <p-card #cardStart  header="Dettagli Origine">
          <p class="m-0">
            @if ((drawService.getOriginSelected()?.children?.length ?? 0) > 0) {
              <p class="font-italic">Questo è un nodo aggregato. Selezionare il singolo nodo di cui si vuole sapere il
                dettaglio:</p>
              <p-select class="w-5" [options]="drawService.getOriginSelected()?.children ?? []"
                        [optionLabel]="'ASNumber'"
                        (onChange)="drawService.setOriginAggregationSelected($event.value)"></p-select>
              @if (drawService.getOriginAggregationSelected() != null) {
                <p class=" text-xl font-semibold">Nodo selezionato</p>
                <div class="m-2">
                  <span class="font-semibold">AS Number:</span>
                  <span> {{ drawService.getOriginAggregationSelected()?.ASNumber }}</span>
                </div>
                <div class="m-2">
                  <span class="font-semibold">Tipo: </span>
                  <span>{{ drawService.getOriginAggregationSelected()?.role === 1 ? 'Origin' : 'Destination' }}</span>
                </div>
                <div class="m-2">
                  <span class="font-semibold">Politiche: </span>
                  <span>Ancora da implementare</span>
                </div>
              }
            } @else {
              <div class="m-2">
                <span class="font-semibold">AS Number:</span>
                <span> {{ drawService.getOriginSelected()?.ASNumber }}</span>
              </div>
              <div class="m-2">
                <span class="font-semibold">Tipo: </span>
                <span>{{ drawService.getOriginSelected()?.role === 1 ? 'Origin' : 'Destination' }}</span>
              </div>
              <div class="m-2">
                <span class="font-semibold">Politiche: </span>
                <span>Ancora da implementare</span>
              </div>
            }
          </p>
        </p-card>
      </div>
    }
    @if (drawService.getOriginSelected() != null && drawService.getDestinationSelected() != null) {
      <div class="col-12 lg:mt-1 lg:col-4 justify-content-center flex">
        <svg width="520" height="200" viewBox="0 0 120 40">
          <line x1="0" y1="20" x2="32" y2="20" stroke="blue" stroke-dasharray="4" stroke-width="1"/>
          <line x1="22" y1="15" x2="32" y2="20" stroke="blue" stroke-width="1"/>
          <line x1="22" y1="25" x2="32" y2="20" stroke="blue" stroke-width="1"/>
          <text class="font-semibold" font-family="Arial" x="40" y="23" fill="#334155" stroke="2" font-size="8">
            AS {{ netForm.get('asNumber')?.value }}
          </text>
          <line x1="85" y1="20" x2="125" y2="20" stroke="red" stroke-dasharray="4" stroke-width="1"/>
          <line x1="110" y1="15" x2="120" y2="20" stroke="red" stroke-width="1"/>
          <line x1="110" y1="25" x2="120" y2="20" stroke="red" stroke-width="1"/>
          <line x1="60" y1="28" x2="60" y2="55" stroke="#334155" stroke-dasharray="4" stroke-width="1"/>
          <line x1="60" y1="55" x2="52" y2="45" stroke="#334155" stroke-width="1"/>
          <line x1="60" y1="55" x2="67" y2="45" stroke="#334155" stroke-width="1"/>
        </svg>

      </div>
    }
    @if (drawService.getDestinationSelected() != null) {
      <div class="col-12 lg:mt-1 lg:col-4 justify-content-center flex">
        <p-card #cardEnd  header="Dettagli Destinazione">
          <p class="m-0">
            @if ((drawService.getDestinationSelected()?.children?.length ?? 0) > 0) {
              <p class="font-italic">Questo è un nodo aggregato. Selezionare il singolo nodo di cui si vuole sapere il
                dettaglio:</p>
              <p-select class="w-5" [options]="drawService.getDestinationSelected()?.children ?? []"
                        [optionLabel]="'ASNumber'"
                        (onChange)="drawService.setDestinationAggregationSelected($event.value)"></p-select>
              @if (drawService.getDestinationAggregationSelected() != null) {
                <p class=" text-xl font-semibold">Nodo selezionato</p>
                <div class="m-2">
                  <span class="font-semibold">AS Number:</span>
                  <span> {{ drawService.getDestinationAggregationSelected()?.ASNumber }}</span>
                </div>
                <div class="m-2">
                  <span class="font-semibold">Tipo: </span>
                  <span>{{ drawService.getDestinationAggregationSelected()?.role === 1 ? 'Origin' : 'Destination' }}</span>
                </div>
                <div class="m-2">
                  <span class="font-semibold">Politiche: </span>
                  <span>Ancora da implementare</span>
                </div>
              }
            } @else {
              <div class="m-2">
                <span class="font-semibold">AS Number:</span>
                <span> {{ drawService.getDestinationSelected()?.ASNumber }}</span>
              </div>
              <div class="m-2">
                <span class="font-semibold">Tipo: </span>
                <span>{{ drawService.getDestinationSelected()?.role === 1 ? 'Origin' : 'Destination' }}</span>
              </div>
              <div class="m-2">
                <span class="font-semibold">Politiche: </span>
                <span>Ancora da implementare</span>
              </div>
            }
          </p>
        </p-card>
      </div>
    }
    @if (drawService.getLinkSelected()) {
      <div class="col-12 lg:mt-1 lg:col-4 justify-content-center flex">
        <p-card header="Dettagli Tripla">
          <p class="m-0 font-italic">
            Attualmente non sono presenti dati dettagli interessanti per la tripla selezionata. Sviluppi futuri possono interessare le singole politiche dei
            link coinvolti, oltre che ad un'analisi più approfondita delle rotte.
          </p>
        </p-card>
      </div>
    }

  </div>

</div>
